// Background
$base03: #0f0f0f;
$base02: #1a1a1a;

// Content
$base01: #4d4d4d;
$base00: #5c5c5c;
$base0: #6e6e6e;
$base1: #7a7a7a;

// Background
$base2: #c7c7c7;
$base3: #d6d6d6;

// Accent
$yellow: #b58900;
$orange: #cb4b16;
$red: #dc322f;
$magenta: #d33682;
$violet: #6c71c4;
$blue: #268bd2;
$cyan: #2aa198;
$green: #859900;
