body {
  position: absolute;
  font: 100%/1.6 'CaviarDreamsRegular', Helvecica, Arial, sans-serif;
  margin: 0;
  width: 100%;
  color: #222;
}

a {
  text-decoration: none;
  color: #912525;
}

a:hover,
a:focus {
  color: #C55C5C;
}

#display {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.controls {
  position: absolute;
  margin: 0.5em;
  padding: 1em 1.5em 1.5em;
  border: 1px solid #BDBA98;
  background: #fff;
  background: rgba( 255, 255, 255, 0.7 );
  z-index: 2;
  width: 260px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
      -ms-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
}

.controls .inner {
  opacity: 0.4;
  -webkit-transition: opacity 150ms linear;
     -moz-transition: opacity 150ms linear;
      -ms-transition: opacity 150ms linear;
       -o-transition: opacity 150ms linear;
          transition: opacity 150ms linear;
}

.controls:hover .inner,
.controls:focus .inner {
  opacity: 1;
}

.controls h1 {
  margin: 0 0 0.5em;
}

.controls h1 span {
  color: #912525;
}

.controls h1 small {
  font-weight: normal;
  font-size: 0.5em;
  display: block;
  line-height: 1.8;
}

.controls h1 small a {
  font-family: 'Alice', Helvecica, Arial, sans-serif;
}

#examples {
  margin-top: 1.5em;
  overflow: hidden;
}

#examples .collapse {
  display: block;
  text-decoration: none;
  color: #222;
  padding: .4em 1em;
  background: #CCD3DD;
}

#examples .collapse:hover {
  background: #AAB5BB;
}

#examples .collapse:active {
  background: #CCD3DD;
}

#examples .collapse:before {
  font-size: 1.2em;
  content: '-';
  display: inline-block;
  width: 1em;
  margin-right: .5em;
}

#examples .collapse.collapsed:before {
  content: '+';
}

#examples ul,
#examples li {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}

#examples {
  border: 1px solid #888;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
      -ms-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
}

#examples li a {
  display: block;
  padding: 0.5em 1em;
  color: #333;
  text-decoration: none;
  border-top: 1px solid #888;
}

#examples li a:hover,
#examples li a.on {
  background: #FCFFAE;
  color: #912525;
}

button {
  background: #CCD3DD;
  color: #221;
  font-family: 'CaviarDreamsRegular', Helvecica, Arial, sans-serif;
  font-size: 18px;
  border: 1px solid #887;
  padding: .8em 1.6em;
  cursor: pointer;
  margin: 0;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
      -ms-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
}

button:hover {
  background: #AAB5BB;
}

button:active {
  background: #CCD3DD;
}

.pjs-meta {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  text-align: right;
  margin: 1em;
  text-transform: uppercase;
  font-size: 1.4em;
}

.pjs-circle {
  position: relative;
  background: rgba(114, 105, 124, 0.7);
  border-radius: 50%;
  border: 1px solid rgba(80, 50, 100, 0.7);
}

.pjs-circle:after {
  content: '';
  background: rgba(69, 51, 78, 0.7);
  position: absolute;
  right: 0;
  top: 50%;
  width: 50%;
  height: 2px;
  margin-top: -1px;
}
