// Foundation JS
//- script(src='http://cdnjs.cloudflare.com/ajax/libs/foundation/3.2.2/javascripts/foundation.min.js')
script(type='text/javascript').
  document.write('<script src=' +
  ('__proto__' in {} ? 'http://cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min' : 'http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min') +
  '.js><\/script>')

script(src='http://cdnjs.cloudflare.com/ajax/libs/foundation/4.1.6/js/foundation.min.js')
script(src='http://cdnjs.cloudflare.com/ajax/libs/foundation/4.1.6/js/foundation/foundation.reveal.min.js')

// Prism js
include js/prism.js

include js/page.js
