meta(name='viewport', content='width=device-width', charset='utf-8')

title= title

// Foundation CSS
link(rel="stylesheet", href="http://cdnjs.cloudflare.com/ajax/libs/foundation/4.1.6/css/foundation.min.css")

// Prism CSS
include css/prism.css

// Custom Styles
include css/dox-foundation.styl

script(srr="http://cdnjs.cloudflare.com/ajax/libs/foundation/4.1.6/js/vendor/custom.modernizr.js")