{% capture strt %}{{ site.url | split:'/' | size }}{% endcapture %}
{% capture lvl %}{{ page.url | append:'/index.html' | split:'/' | size }}{% endcapture %}
{% capture relative %}{% for i in (strt..lvl) %}../{% endfor %}{% endcapture %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{site.title}} - {{site.tagline}}</title>

    <meta name="description" content="{{site.tagline}}">
    <meta name="keywords" content="{{site.keywords}}" />
    <meta name="author" content="Jasper Palfree" />

    <link href='http://fonts.googleapis.com/css?family=Alice&text=Well%20Caffeinated' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{relative}}assets/fonts/Caviar-Dreams-fontfacekit/stylesheet.css">
    <link rel="stylesheet" href="{{relative}}assets/styles/solarized.css">
    <link rel="stylesheet" href="{{relative}}assets/styles/styles.css">
    <script src="{{relative}}assets/scripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="{{relative}}assets/scripts/vendor/require.js"></script>
    <script>
    require.config({
      baseUrl: '{{relative}}assets/scripts/',

      packages: [
        {
          name: 'physicsjs',
          location: 'vendor/physicsjs',
          main: 'physicsjs-0.5.0.min'
        }
      ],

      paths: {
        'jquery': 'http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min'
      }
    });
    </script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header"><a href="{{site.url}}">Physics<span>JS</span></a></h1>
      
        <ul>
          <li><a href="./{{relative}}">About</a></li>
          <li><a href="{{relative}}examples">Demos</a></li>
          <li><a href="{{relative}}installation">Installation</a></li>
          <li><a href="{{relative}}basic-usage">Basic Usage</a></li>
          <li><a href="{{relative}}tutorials">Tutorials</a></li>
          <li><a href="https://github.com/wellcaffeinated/PhysicsJS/wiki">Documentation</a></li>
          <li><a href="{{relative}}contribute">Contribute</a></li>
        </ul>
        <ul>
          <li>v0.5.0 (alpha)</li>
          <li class="button download"><a class="buttons" href="https://github.com/wellcaffeinated/PhysicsJS/zipball/master">Download</a></li>
          <li class="button"><a class="buttons github" href="https://github.com/wellcaffeinated/PhysicsJS">GitHub</a></li>
          <li>MIT License</li>
        </ul>

      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p><small>a <a href="http://wellcaffeinated.net" target="_blank" class="author">Well Caffeinated</a> project</small></p>
        <script data-gittip-username="wellcaffeinated" src="//gttp.co/v1.js"></script>
      </footer>
    </div>
  
  <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-28341644-3");
      pageTracker._trackPageview();
    } catch(err) {}
  </script>

  </body>
</html>