<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hello World Blog</title>
    <link rel="stylesheet" media="screen" href="/assets/css/master.css"/>
  </head>
  <body>
    <div id="container"> 
      <header class="group">
        <div class="header-inner">
          <h1 class="logo"><a href="/">Hello World Blog.</a></h1>
        </div>
      </header>
      <div id="content">
        <section id="main" class="group">
          {{ content }}
          <div>
            <a href="/">Back Home</a>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>

